<!-- Meta Information. -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ url_for(theme.assets.imgs) }}/favicon.ico"> 

<!-- Load PJax. -->
<link rel="stylesheet" href="/stylesheets/pjax.css">
<script src="/javascripts/pjax.js"></script>

<!-- Load Material Design Lite assets. -->
<link rel="stylesheet" href="{{ url_for(theme.assets.css) }}/vendors/material.min.css">
<script src="{{ url_for(theme.assets.js) }}/vendors/material.min.js"></script>

<!-- Load native stylesheets. -->
<link rel="stylesheet" href="{{ url_for(theme.assets.css) }}/main.css">

<!-- Load highlighting. -->
{%- if config.syntax_highlighter == "prismjs" %}
  <link rel="stylesheet" href="{{ url_for(theme.assets.css) }}/vendors/prism-line-numbers.min.css">
  <link rel="stylesheet" href="{{ url_for(theme.assets.css) }}/vendors/prism-material-oceanic.min.css">
{%- endif %}

<!-- Load Iconify. -->
<script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/iconify/2.0.0/iconify.min.js"></script>

<!-- Load font resources. -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap">
