/* palette.scss */

$schemes: (
  light-scheme: (
    // Primary color is for main content, like posts and pages.
    primary-fg-color: #616161,
    primary-bg-color: #F5F5F5,

    // The color for code block.
    // code-fg-color: #37474F,
    // code-bg-color: #F1F3F4,

    // MISC color.
    title-color: #252B2D,
    slogan-color: #5C6A70,
    hr-color: #BDBDBD,
  ),
  dark-scheme: (
    // Primary color is for main content, like posts and pages.
    primary-fg-color: #616161,
    primary-bg-color: #F5F5F5,

    // The color for code block.
    // code-fg-color: #37474F,
    // code-bg-color: #F1F3F4,

    // MISC color.
    title-color: #252B2D,
    slogan-color: #5C6A70,
    hr-color: #BDBDBD,
  )
);

@mixin apply-primary($scheme) {
  $primary-fg-color: map-get(map-get($schemes, $scheme), primary-fg-color);
  $primary-bg-color: map-get(map-get($schemes, $scheme), primary-bg-color);

  $code-fg-color: map-get(map-get($schemes, $scheme), code-fg-color);
  $code-bg-color: map-get(map-get($schemes, $scheme), code-bg-color);
  
  background-color: $primary-bg-color;
  color: $primary-fg-color;
}