{% extends "_layout.njk" %}

{% block content %}
  <!-- Post layout. -->
	<div class="mdl-card__supporting-text post-content">

    <!-- Icon button -->
    <button id="post-info-button" class="mdl-button mdl-js-button mdl-button--icon post-content__top-button">
      <span class="iconify" data-icon="mdi-info"></span>
    </button>
    <script src="{{ url_for(theme.assets.js) }}/post-info-button.js"></script>

    <!-- Post title. -->
		<h1>{{ page.title }}</h1>

    <!-- Author area. TODO -->
    <pre><span class="iconify md-18" data-icon="mdi-tag"></span> Tags: {{ 
      list_tags(page.tags, {
        show_count: false,
        style: 'false',
        separator: '  '
      }) }} <span class="iconify md-18" data-icon="mdi-category"></span> Categories: {{ 
      list_categories(page.categories, {
        show_count: false,
        style: 'false',
        separator: '  '
      }) }} </pre>
    
    <!-- {{- toc(page.content) }} -->

    <!-- Post content. -->
		{{ page.content }}

    <!-- Post footer. -->
    <pre>Last updated: {{ page.updated.format('YYYY-MM-DD') }}</pre>
    
	</div>
{% endblock %}
