<!-- APlayer config. -->
<link rel="stylesheet" href="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/aplayer/1.10.1/APlayer.min.css">
<script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/aplayer/1.10.1/APlayer.min.js"></script>
<!-- htmlmin:ignore -->
<div
  class="aplayer aplayer-withlist aplayer-fixed aplayer-narrow"
  data-id={{ theme.aplayer.id }}
  data-server={{ theme.aplayer.server }} 
  data-type={{ theme.aplayer.type }}
  data-fixed="true"
  data-autoplay={{ theme.aplayer.autoplay }} 
  data-order={{ theme.aplayer.order }}
  data-volume={{ theme.aplayer.volume }}
  data-theme={{ theme.aplayer.theme }}
  data-preload={{ theme.aplayer.preload }}
>
</div>
<!-- htmlmin:ignore -->
<script src="https://mirrors.sustech.edu.cn/cdnjs/ajax/libs/meting/1.2.0/Meting.min.js"></script>
